@font-face {
  font-family: 'satoshi';
  src: url('Satoshi-Variable.ttf');
}

.app {
  font-family: 'satoshi';
  background: #0A0A15;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.app__body {
  display: flex;
  /* Center children horizontally */
  justify-content: center;
  /* Center children vertically */
  margin: 5px;
  max-width: 200px;
  margin-left: 20px;
  margin-right: 20px;

}

.login-container {
  min-height: 100vh;
  height: fit-content;
}