.inputOption {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: lightgray;
    padding: 10px;
    cursor: pointer;
}

.inputOption:hover {
    background-color: #6852D6;
    border-radius: 10px;
}

.inputOption>h4 {
    margin-left: 5px;

}