.login {
    display: grid;
    place-items: center;
    margin: 0 auto;
    padding: 100px 0;
}

.login>img {
    object-fit: contain;
    height: 100px;
    margin: 20px 0;
}

.login>form {
    display: flex;
    flex-direction: column;
}

.login>form>input {
    width: 350px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.login>form>button {
    cursor: pointer;
    width: 365px;
    height: 50px;
    font-size: large;
    color: #fff;
    background-color: #6852D6;
    border-radius: 5px;
}

.login__register {
    color: #6852D6;
    cursor: pointer;
}

.login>p {
    color: white;
    margin-top: 20px;

}